language: cpp
compiler:
- gcc
- clang
script: ./autogen.sh && ./configure --enable-coverage && make test
install:
- gem install fpm
- gem install package_cloud
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
before_script:
- ./utils/build_gtest.sh
- gem install coveralls-lcov
after_success:
- curl http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz | tar xz
- export PATH=$PATH:`pwd`/lcov-1.11/bin
- make coverage.info
- coveralls-lcov coverage.info
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && make
  deploy-docs
sudo: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - build-essential
    - gcc-4.8
    - g++-4.8
    - clang
    - doxygen
    - rpm
deploy:
  provider: script
  script: ./autogen.sh && ./configure --prefix=`pwd`/usr && make deploy-packages
  on:
    tags: true
env:
  global:
  - secure: iPRn0MYE/6YNGBCP/mVxOBa0PFMV1snwwJpe55Vf4dFMtR2NQ0zFNDzBFx3vTyzaW8sTb6D0IGFsrBwJK/6WFC0a87nKK6jfg/OeOdxV5cMBLOyFUY/AuK3SHaJcJc0BxjCAvU1cYsIYLu5NrvQxllJ+bKBXWQd4caXQ+PkWGd37DGp5wiJc0kbE4LrUVDKV0OBnls9+zcA2vO96f1AAvt+5vjds0CjzflqoSon8sX2Ki9bjpAapquDqTAqZx3Hyiv7BmJF7iCbX6KnhR9NGk0ufeZVBVgX7U5LBZrcCEdtGCYhj1sH29N3XTMv1pKKFftDqWgFpko7WP9Ow0Eb1lJDsF+69dGExS664gt6qPU9+sfKUrd+wx4D3dpd90hPMU9lWEFLe+9i5aLzP/lWVTx5j2yk9kwZFwFm7aEVT/QBZLGboTvBp6jf2sNpheZXqivutWz6uoG9MwBj2X12IqnvbKqYema8wnatCOIVoYoAacV6IldTmVCaXsCOSVDc6Nf7EunyP2IREfcX/qn4fBR0at9rjTrrcqf8xXCALs0B8Qb8/e9Exl0vMj5gnJ00z7m2MdEkwdZhWjSy3/d9nvn33caPDjy89LTqa7gyu1KbUeSJTbGYy68qzzdwYuymGbEvv8+AVF6Y11lZXTIgKYQRlWtZz8WdVfEWwlU78rIc=
  - secure: hrQoEkKYm1g9RNaXvNIp/TG7ivxdISDBfG6SF1EuWTX7vbDnk2zIh6MGN9WE06V/aKkA1HbIwO57e5uDGPJRsXUTQAU3sZ+BOFkwuGXA2AaPlmSBAj/mtJR92C4gfyMoh8yFwQt2ADWmwAhUpZHrbOA42vzanTkdrRqJJsWUTh3VjVE1nKaXQwxGfRiYUArgMLOVPasB0Gqd3/4GojnLg1+is8NQ34WmKV0w2gIQF8eftbsQHyuhKztt/eyl5m7fQZGbMWiBz942o4rwebtY35nsb7ciHRtJz4FIijloJph1HXyg2CVNxN5ZQ7jmE3OmgO5TtGiDcEfSAqhjvYKFuRAHs88PEJAl66qc9SQ7bXWTRova6fJKtLg6DmkB5cjmHsd+vE6KvVKLRSV9nAcohKBSjU9gRDNn6aaMgaB8Zi1iFiJ1j5bFvFNFPooaPqMtzpEXM+YXVgQKFyEmkLEKqdbbYzhPEdsKiijy/1ixp/AF0Pqj/NysanGifilV1A4gqrriabtlqOhhm9/JcFzQ6Li+K0g5KOu4XrpOA1fUc8Xpof6GLtwieMjBiwW6rOSNBoVh0y05ezktkg2O5zzX0tlF/pDNjSVPj+ijeTsL8a/yu3/VgbjBg87Xyg5X4ds2G73VdemQ8mEafDFvNF26cBkMb9Uky/n19cLa5Vo8oqU=
  - secure: hlJRVcQ+qakthCAU19++mwrnxiVgjTJ92yMjTo8SD3ghoPTg80XfINedwfJ9C7gyBTjHDmdOUrSVrQnSQR6moNI4sEL9SAIK9HUFL9hK0ihZR8ghR8VoMhfUTSxpSE2WWzGbmihVzLbFWrEZAsMqj4mfdxzJRGNd+s1d6ZGiyt8qmN1QEVLwzUvCP4a0sxP1URRBWUvkR5H2/vVXf3KoSOA70IAahy0/5VCh9E6vK1G8YIzL0wQcO0iNuTUreLgBgnXML+2vdjQKO1giimi1FCFUJjcUdLBRRsweGoJlXRHnDi4JWYe/1X0FlOwFzVvmIhKwjxQT/zCoI2TAskP6iC2IGJ0NiV7QEONjPd0QlcEGtUENV0jDm8aRhhU2joKsr93C86b/BoMKUb8bj/OEearBgCy4Y749pOFMH3qGUELQxKIuIX6M8RLKsUSrYWN0N57WnYq/sidThG3FB9xjWWtLMQ/tYgbuw3w+sUSMuBmIcvuVM05Ptee+czQegWWZLM6wp4hNPibVorjuDaxRQaZ585vXkoa4ljxEhFyH8cBBeINpd+4cm/I3LWJ2XPL9zs+VUPmvSe1kO2dqa0cEGDVz9qoDBdeys+pn1Mf42WJ9aS44JB7s6Z8aP0ml4kKoDVmX0yl4FT5pxeTO5ADKdkyR+KD7ucvJ38KKvhB4tHQ=
